#bgcolornavbar{
  background-color: #F2EBE9;
}
button{
  background-color: #E7332B;
}

button a{
  color: #ffffff;
  font-size: 12px;
}

#centered{
  margin-top: 130px;
}

div .red{
  color: #E7332B;
  font-size: 14px;
}
div .card-body h5{
  color: #514949;
  font-size: 15px;
}
div .mentorparg{
  font-size: 25px;
  font-weight: bold;
  color: #514949;
}
.mobile{
  display: none;
}
div .card-body .cardpfontsize{
  font-size: 12px;
}

div .card-body .card-text{
  font-size: 14px;
}
div .card-body .card-title{
  color:#514949;
}
div .mentorspargfont{
  font-size: 13px;
  color: #514949;
}
nav .move{
  display: flex;
  justify-content: center;
}

.black{
  background-color: #000000;
  margin-top: 100px;
  margin-bottom: 20px;
}

@media (min-device-width:360px) and (max-width:640px) {
  div .row #none{
    display: none;
  }
  #centered{
    margin-top: 50px;
  }
  .mobile{
    display: block;
  }
  #desktop3{
    display: none;
  }
  #desktop{
    display: none;
  }
  #desktop2{
    display: none;
  }
}

body {
  background-color: white;
  cursor: default;
  box-sizing: border-box;
}

/* footer styles */
footer {
    margin-top: 121px;
    font-size: 14px;
    line-height: 20px;
}

footer h4,
.copyright {
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
}

footer h4 {
    margin-bottom: 24px;
}

footer .nav-link {
    padding-top: 4px;
    padding-bottom: 4px;
    color: var(--primary-color);
}

footer .nav-link:hover {
    text-decoration: underline;
}

.facebook-link {
    color: var(--facebook-color);
    font-size: 20px;
}

.twitter-link {
    color: var(--twitter-color);
    font-size: 20px;
}

.copyright {
    font-weight: bold;
    margin-top: 56px;
    padding: 32px 0 46px;
    border-top: 0.7px solid #514949;
}

/* end of footer styles */
